#container{
    background-color: #D1E2C4;
}

#jumone {
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1515472379677-6c0ad8823829?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1401&q=80");
    background-size: cover;
    height: 28rem;
}



#photoplants {
    max-width: 100%;
    text-align: center;
    background: no-repeat;
}
#buttcall{
    justify-content: center;
    margin: 0 auto;
    background-color: #778A35;
    text-align: center;
}
#Pbuttcall{
    justify-content: center;
    margin: 0 1.5rem;
    background-color: #778A35;
    text-align: center;
}

#butcol{

    text-align: center;
}


#cardA{
    background-color: #778A35;
    text-align: center;

}
#cardd{
    color: #31352E;
    background-color: #D1E2C4;
    display: flex;
    margin: 3rem auto 5rem auto;
}
 #Butt{
     background-color: #778A35;
     margin-right: 2rem;
     margin-bottom: 6rem;

 }
 #Butt2{

     margin-bottom: 6rem;

 }

h1, p{
    text-align: center;
}
#search{
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 2rem;

}
#thejum {

    text-align: center;
    background-color:#31352E;

    margin: 1rem 2rem 3rem 3rem;
    opacity:80%;


}
#logo{

    text-align: center;
    color: #778A35;


}
.form-control{
    margin: 1rem auto 1rem 2rem;


}
#formCon{
    text-align: center;
    margin: 1rem 5rem 1rem 7rem;
    width: 80%;
}

#theNav{
   background-color:#778A35;
}
hr{
    border-top: 2px solid #778A35;

}

.CardCol{
    text-align: center;
    color: #31352E;
    justify-content: space-evenly;
    background-color: #D1E2C4;
    display: inline-block;
    margin: 3rem auto 5rem auto;
}
#signInB{
    margin: 1rem 1rem 5rem 2rem;

    border-radius: 50px;
    background-color: #D1E2C4;
    color: #31352E;
    border: 5px solid #31352E;
    transition: border 0.2s ease;
}
#signUpB{
    margin: 1rem 1rem 5rem auto;
    display: inline-block;
    border-radius: 50px;
    background-color: #D1E2C4;
    color: #31352E;
    border: 5px solid #31352E;
    transition: border 0.2s ease;

}
#signOutB{
    margin: auto 10rem auto 10rem;
    display: inline-block;
    border-radius: 50px;
    background-color: #D1E2C4;
    color: #31352E;
    border: 5px solid #31352E;
    transition: border 0.2s ease;
}
#searchB{

    margin: auto 10rem auto 10rem;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 50px;
    background-color: #D1E2C4;
    color: #31352E;
    border: 5px solid #31352E;
    transition: border 0.2s ease;
}

#signUpContent{
    background-color: #778A35;
}
#signInContent{
    background-color: #778A35;
}


#signInBM {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 50px;
    background-color: #D1E2C4;
    color: #31352E;
    border: 5px solid #31352E;
    transition: border 0.2s ease;
}
#reminderB{
    padding: 4px 10px;
    display: inline-block;
    border-radius: 50px;
    background-color:#778A35 ;
    color: #31352E;
    border: 5px solid #31352E;
    transition: border 0.2s ease;
}
#signInB:hover {
    border: 5px solid yellowgreen;
    cursor: pointer;
}
#signInBM:hover{
    border: 5px solid yellowgreen;
    cursor: pointer;
}

#searchB:hover{
    border: 5px solid yellowgreen;
    cursor: pointer;
}
#signOutB:hover{
    border: 5px solid yellowgreen;
    cursor: pointer;
}
#signUpB:hover{
    border: 5px solid yellowgreen;
    cursor: pointer;
}
#reminderB:hover{
    border: 5px solid yellowgreen;
    cursor: pointer;
}
#remindersBorder{
    border-style: double;
    border-color: #31352E;
    padding: 1rem 2rem;

}
